h1 { 	
	color:red;
	font-family: verdana, arial, san-sarif;
	padding-left: 100px;
	border-width: 2px;
	border-style: dashed;
}

h2 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;


p{ 
	color:green
	

}
	

#important (
	main-left:75px;
	margin-right:175px
	font-size:1.5em;


nav ul li a {
	padding-left: 0.2em 1em;
	
	